<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Example classes</title>

    <link rel="stylesheet" href="./app.css">
</head>

<body>
    <div id="app">
        <div class="actions-container">
            <!-- @click ejecuta el método "flight" -->
            <button @click="fight">Luchar</button>
        </div>

        <!-- Casilla del jugador 1 -->
        <!-- :class pertite que sean insertadas múltiples clases (array), entre
        las cuales tenemos la clase "box" y otra definida segun el valor de la
        variable "winer" = "player1.winner" (true o false). -->
        <div :class="['box', { winner: player1.winner }]">
            <!-- v-model es utilizado para capturar el valor del <select>
            @change es utilizado para ejecutar el método "resetWinner" cada vez
            que hay un cambio en el <select> -->
            <select v-model="player1.pokemon" @change="resetWinner">
                <!-- v-for iteramos un option por cada item del array pokemons.
                v-bind:value nos permite asignar un valor al <option> cuyo será recogido por el
                v-model del <select>.
                {{ pokemon.name }} escribe el valor de la variable -->
                <option v-for="pokemon in pokemons" v-bind:value="pokemon">{{ pokemon.name }}</option>
            </select>
            <!-- :class inserta una clase, con el nombre del pokemon (en este caso)
            en el primer <div> de la plantilla del componente. Si existe alguna clase
            en el mismo componente, la concatena. -->
            <pokemon :class="player1.pokemon.name"></pokemon>
        </div>

        <label>VS</label>

        <!-- Casilla del jugador 2 -->
        <div :class="['box', { winner: player2.winner }]">
            <pokemon :class="player2.pokemon.name"></pokemon>
            <select v-model="player2.pokemon" @change="resetWinner">
                <option v-for="pokemon in pokemons" v-bind:value="pokemon">{{ pokemon.name }}</option>
            </select>
        </div>
    </div>

    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../assets/js/1.3_styles.js"></script>
</body>
</html>